<%- include ('partials/header.ejs') %>
<section class="branches">
    <h2>Employee Administration</h2>
    <section class="overview">
        <div class="overview-box">
            <h2>Insert employee</h2>
            <form action="/api/insert-employee" method="POST">
                <div class="form-group">
                    <label for="nombreEmpleado">Nombre:</label>
                    <input type="text" id="nombreEmpleado" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellidoPaterno">Apellido Paterno:</label>
                    <input type="text" id="apellidoPaterno" name="apellido_paterno" required>
                </div>
                <div class="form-group">
                    <label for="apellidoMaterno">Apellido Materno:</label>
                    <input type="text" id="apellidoMaterno" name="apellido_materno" required>
                </div>
                <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="text" id="correo" name="correo" required>
                </div>
                <div class="form-group">
                    <label for="lada">Lada:</label>
                    <input type="text" id="lada" name="lada" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono" required>
                </div>
                <div class="form-group">
                    <label for="rol">Rol de Empleado:</label>
                    <select type="text" id="rol_de_empleado" name="rol_de_empleado" required>
                        <% for(let i=0; i<employees_rol.length; i++) { %>
                            <option value=<%=(i+1)%>><%= employees_rol[i].employee_rol%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="bilingue">Bilingüe:</label>
                    <input type="checkbox" id="bilingue" name="bilingue">
                </div>
                <div class="form-group">
                    <label for="sucursalEmpleado">Sucursal:</label>
                    <select type="text" id="sucursal" name="sucursal" required>
                        <% for(let i=0; i<branches.length; i++) { %>
                            <option value=<%=(i+1)%>><%= branches[i].branch%></option>
                        <% } %>
                    </select>
                </div>
                <button type="submit">Insert employee</button>
            </form>
        </div>
        <div class="overview-box">
            <h2>Edit employee</h2>
            <form action="/api/update-employee" method="POST">
                <div class="form-group">
                    <label for="idEmpleado">ID:</label>
                    <select type="text" id="id" name="id" required>
                        <% for(let i=0; i<employees_id.length; i++) { %>
                            <option value=<%=employees_id[i].employee_id%>><%= employees_id[i].employee_id%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="nombreEmpleado">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellidoPaterno">Apellido Paterno:</label>
                    <input type="text" id="apellidoPaterno" name="apellido_paterno" required>
                </div>
                <div class="form-group">
                    <label for="apellidoMaterno">Apellido Materno:</label>
                    <input type="text" id="apellidoMaterno" name="apellido_materno" required>
                </div>
                <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="text" id="correo" name="correo" required>
                </div>
                <div class="form-group">
                    <label for="lada">Lada:</label>
                    <input type="text" id="lada" name="lada" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="text" id="telefono" name="telefono" required>
                </div>
                <div class="form-group">
                    <label for="rol">Rol de Empleado:</label>
                    <select type="text" id="rol_de_empleado" name="rol_de_empleado" required>
                        <% for(let i=0; i<employees_rol.length; i++) { %>
                            <option value=<%=(i+1)%>><%= employees_rol[i].employee_rol%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="bilingue">Bilingüe:</label>
                    <input type="checkbox" id="bilingue" name="bilingue">
                </div>
                <div class="form-group">
                    <label for="sucursalEmpleado">Sucursal:</label>
                    <select type="text" id="sucursal" name="sucursal" required>
                        <% for(let i=0; i<branches.length; i++) { %>
                            <option value=<%=(i+1)%>><%= branches[i].branch%></option>
                        <% } %>
                    </select>
                </div>
                <button type="submit">Update employee</button>
            </form>
        </div>
    </section>
</section>
<section class="branches">
    <h2>Products Administration</h2>
    <section class="overview">
        <div class="overview-box">
            <h2>Insert product</h2>
            <form action="/api/insert-product" method="POST">
                <div class="form-group">
                    <label for="codigo">Código:</label>
                    <input type="text" id="codigo" name="codigo" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" required></textarea>
                </div>
                <div class="form-group">
                    <label for="caducidad">Caducidad:</label>
                    <input type="date" id="caducidad" name="caducidad" required>
                </div>
                <div class="form-group">
                    <label for="tipo">Tipo:</label>
                    <select type="text" id="tipo" name="tipo" required>
                        <% for(let i=0; i<product_types.length; i++) { %>
                            <option value=<%=(i+1)%>><%= product_types[i].product_type%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form_group">
                    <label for="sucursal">Sucursal:</label>
                    <select type="text" id="sucursal" name="sucursal" required>
                        <% for(let i=0; i<branches.length; i++) { %>
                            <option value=<%=(i+1)%>><%= branches[i].branch%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" required>
                </div>
                <button type="submit">Insert product</button>
            </form>
        </div>
        <!-- <div class="overview-box">
            <h2>Update product</h2>
            <p>View the current branches and their details.</p>
            <ul>
                <li>Total Branches: asa</li>
                <li>CDMX Branches: asa </li>
                <li>Veracruz Branches:assas</li>
                <li>Quintana Roo Branches: asadda</li>
            </ul>
        </div> -->
    </section>
</section>
<%- include ('partials/footer.ejs') %>
