<%- include('partials/header.ejs') %>
<header>
    <form action="/staff" method="GET">
        <input type="search" name="search" placeholder="Search staff..." required>
        <button type="submit">Search</button>
    </form>
</header>
<section class="branches">
    <h2>Staff Details</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Telephone</th>
                <th>Position</th>
                <th>Branch</th>
                <th>Binlingual</th>
            </tr>
        </thead>
        <tbody>
            <%staff.forEach(function(personal){%>
                <tr>
                    <td><%=personal.name%></td>
                    <td><%=personal.telephone%></td>
                    <td><%=personal.position%></td>
                    <td><%=personal.branch%></td>
                    <%if(personal.bilingual>0){%>
                    <td><%='Si'%></td>
                    <%}else{%>
                    <td><%='No'%></td>
                    <%}%>
                </tr>
            <%})%>
        </tbody>
    </table>
</section>
<%- include('partials/footer.ejs') %>